body {
    background-color: #944;
    font-family: "PT Sans Caption", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c1146;
    text-shadow: 0.1em 0.1em 0.2em #ccc;
}

a, a:visited {
    margin:0.2em;
    padding:0.1em;
    color: #00f;
    -webkit-transition: all 0.15s ease-in-out;
}

a:hover {
    border-radius: 0.3em;
    background-color: #6a6;
    color: white;
}

a[href^=http]:after {
    content: url(offsite-icon.png);
}

#frame {
    width: 80%;
    margin: 0 auto;
}

.header {
    text-align: center;
    cursor: pointer;
}

.text-container {
    background-color: #fff;
    border: solid #000 0.2em;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.text-container hr {
    height: 0.5em;
    border: 0;
    border-bottom: solid #888 0.25em;
    border-radius: 0.5em;
}

#content {
    position:relative;
    width: 50%;
    height: 100%;
    background-color: #fff;
}


.nav-menu {
    float: right;
    font-size: 0.8em;
    border-width: 0.4em;
}

.nav-menu ul {
    list-style-type: none;
}

.menu {
    width: 10em;
    float: right;
    background-color: #d88;
    border-radius: 1em;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em #555;
    border: outset;
    padding: 0.3em;
    cursor: pointer;
}

.menu:hover {
    background-color: #fcc;
}

.menu:active {
    border: inset;
}

.collapsed:after {
    content: " \21d2";
}

.expanded:after {
    content: " \21d3";
}

.error {
    color: red;
    font-family: monospace;
}
