body {
    background-color: #944;
    font-family: "PT Sans Caption", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c1146;
    text-shadow: 0.1em 0.1em 0.2em #ccc;
}

a, a:visited {
    margin:0.2em;
    padding:0.1em;
    color: #00f;
    -webkit-transition: all 0.15s ease-in-out;
}

a:hover {
    border-radius: 0.3em;
    background-color: #ccc;
}

a[href^=http]:after {
    content: url(offsite-icon.png);
}

#frame {
    width: 80%;
    margin: 0 auto;
}

header#top {
    text-align: center;
    cursor: pointer;
}

.text-container {
    background-color: #fff;
    border: solid #000 0.2em;
    margin: 1em;
    border-radius: 1em;
}

.text-container hr {
    height: 0.5em;
    border: 0;
    border-bottom: solid #888 0.25em;
    border-radius: 0.5em;
}

#content {
    position:relative;
    width: 50%;
    height: 100%;
    padding: 1em;
    background-color: #fff;
}

nav {
    float: right;
    font-size: 0.8em;
    border-width: 0.4em;
    width: 20%;
    list-style-type: none;
    padding: 1.8em;
    background-color: #666;
    color: white;
    border-radius: 1em;
    border: solid black 0.2em;
}

nav a {
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
}

nav h2, nav h3, nav h4 {
    border-radius: 0.5em;
    padding: 0.3em;
    -webkit-transition: all 0.15s ease-in-out;
    color: white;
}

nav h4:hover {
    background-color: #ccc;
}

.navbar {
    background-color: #666;
    border-color: #2b2b2b;
    list-style-type: none;
    padding: 1em;
}

.navbar li {
    display: inline;
    border-right: solid #000 1px;
    padding: 1em;
}

.navbar a {
    color:white;
}

a.jcollapsible {
    text-decoration: none;
    color: white;
}

.error {
    color: red;
    font-family: monospace;
}
