body {
    
    background-color: #144;
    font-family: sans-serif;
    font-size: 1.1em;

}

/*
img {
    height: 5em;
    float: left;
    position: relative;
    left: 5em;
    top: 2em;

}
*/

a, a:visited {
    color: #016;
}


ul {
    list-style-type: square;
}

.didoc {
    border: solid #202028 0.75em;
    border-radius: 2em;
    padding: 1em;
    margin: 3em;
    background: -webkit-gradient(linear, left top, right bottom, to(#585258), from(#787278));
}

.nav {
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 1em;
    border: solid #202028 0.4em;
    margin: 3em;
}

span.nav a {
    margin: 1em;
}

/* Text containers should have some similar characteristics */
.text {
    background-color: #787278;
}

.text hr {
    height: 0.5em;
    border: 0;
    border-bottom: solid #222 0.25em;
    border-radius: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c1146;
}
