<!doctype html> 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="didoc.css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption">
        <script type="text/javascript" src="jquery-1.9.1.js"></script>
        <script type="text/javascript" src="didoc.js"></script>
        <script type="text/javascript" src="jCollapsible.js"></script>
        <title>DiTool Documentation</title>
    </head>
    <body>
        <div id='frame'>
            [% INCLUDE $header %]
            [% INCLUDE $nav %]
            [% INCLUDE $content %]
            </div>
        </div>
    </body>
    <script type="text/javascript" src="ready.js"></script>
</html>
