<!doctype html> 
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="didoc.css" />
        <script type="text/javascript" src="../scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="didoc.js"></script>
        <title>DiTool Documentation</title>
    </head>
    <body>
        <div class='nav-menu text-container'>
        [% INCLUDE $menu %]
        </div>
        <div class='text-container' id="content">
        </div>
    </body>
</html>
