<!doctype html> 
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="didoc.css" />
        <script type="text/javascript" src="../scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="didoc.js"></script>
        <title>DiTool Documentation</title>
    </head>
    <body>
        <div id='frame'>
            [% INCLUDE $header %]
            [% INCLUDE $navbar %]
            [% INCLUDE $menu %]
            <div class='text-container' id="content">
            </div>
        </div>
    </body>
    <script type="text/javascript">

    $(function(){

        var didoc = new Didoc($("#content"));
        var menu = $(".nav-menu");
        menu.css("display","none");

        // Ajax-y behaviour for local links
        $(document).on( 'click',
            'a:not([href^=http])',
            function(event){
                didoc.newpage(event.currentTarget.pathname);
                return false; });

        $(document).on( 'click',
            '.back',
            function(){ didoc.back(); });

        $(document).on( 'click',
            '.forward',
            function(){ didoc.forward(); });

        $('.menu').mouseenter(
            function(event){ 
                if ($(event.currentTarget).hasClass("collapsed")) {
                    $(event.currentTarget).addClass("expanded");
                    $(event.currentTarget).removeClass("collapsed");
                    menu.slideDown(200); 
                } else {
                    $(event.currentTarget).addClass("collapsed");
                    $(event.currentTarget).removeClass("expanded");
                    menu.slideUp(200); 
                }
            }
        );

        // Initially, load home page
        didoc.newpage("/didoc/homepage.html");

    });

    </script>
</html>
