<div class='text-container navbar'>
    <a href='homepage.html'>Index</a>
    <a href='README.html'>HELP/HOWTO</a>
    <button class='back' type='button'>&lt;&lt; Back</button>
    <button class='forward' type='button'>Forward &gt;&gt;</button>
</div>
